extends ../layouts/default.pug

mixin google-map(src)
  iframe.d-block.w-100(src=src frameborder="0" style="border:0" allowfullscreen title="Google Map")

mixin section(header)
  section.section(id=header.replace(/\s+/, '-').toLowerCase())
    h2.section__header= header
    .section__content
      block

//- Our Story
//- ------------------------------------
mixin our-story()
  +section("Our Story")
    .body-copy
      p Fate brought Jackie and David together in the fall of 2014 in true modern day fashion: on the trusty dating app OkCupid. David had just finished school at Western Michigan University and moved into his first apartment in Birmingham, Michigan; Jackie was a social work student at Oakland University and worked as a soccer coach.
      p Not long after they started chatting, David picked Jackie up and they went to a local park to eat a Little Ceasers pizza and get to know one another. Jackie was impressed with David’s intelligence and sense of adventure, and David adored Jackie's love of life. That was just the beginning; eventually the two found themselves moving across Michigan, then to Nashville, TN, before finally settling in Bellevue, WA.


//- Photos
//- ------------------------------------
mixin photos()
  .photos
    .row
      .col-6.col-md-3
        img.img-fluid(src="/images/broadway.jpg" alt="On Broadway in Nashville, TN" title="On Broadway in Nashville, TN")
      .col-6.col-md-3
        img.img-fluid(src="/images/nashville.jpg" alt="Carnton Plantation in Nashville, TN", title="Carnton Plantaion in Nashville, TN")
      .col-6.col-md-3
        img.img-fluid(src="/images/wedding.jpg" alt="Attending a wedding in Rochester, MI", title="Attending a wedding in Rochester, MI")
      .col-6.col-md-3
        img.img-fluid(src="/images/jackie-graduation.jpg" alt="Jackie graduation with her BSW" title="Jackie graduating with her BSW")

//- Wedding Party
//- ------------------------------------
mixin wedding-party()
  +section("Wedding Party")
    .row
      .col-12.col-md-6
        h3 Best Man
        ul.list-unstyled
          li Kyle Turco
      .col-12.col-md-6
        h3 Maid of Honor
        ul.list-unstyled
          li Missy Kutcher
    hr
    .row
      .col-12.col-md-6
        h3 Groomsmen
        ul.list-unstyled
          li Brent Zukowski
          li Scott Kutcher
          li Ion Caza
          li Harry Ho
          li Levi Thomason
      .col-12.col-md-6
        h3 Bridesmaids
        ul.list-unstyled
          li Erika Bertrand
          li Carley Johnston
          li Amanda Christopher
          li Olivia Turco
          li Amanda Powell
    hr
    h3 Special Guests
    p Jaxon Jeroue as #[strong ring bearer],
      br
      | Lilly Jeroue and Violet Thomason as #[strong flower girls],
      br
      | and Dolly Kutcher as the #[strong dog of honor].

//- The Venue
//- ------------------------------------
mixin the-venue()
  +section("The Venue")
    .row
      .d-none.d-md-flex.col-md-4.mb-sm-5
        +google-map("https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5865.742738687879!2d-83.149262!3d42.685267!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x57c5a529c7c1cda9!2sGreat+Oaks+Country+Club!5e0!3m2!1sen!2sus!4v1527362289721")
      .col-12.col-md-8
        h3
          a(href="https://www.greatoakscc.com" target="_blank" rel="noreferrer") Great Oaks Country Club
        p 777 Great Oaks Blvd #[br] Rochester Hills, MI 48307 #[br] Saturday, September 22, 2018
    p
      strong Dress Code: Cocktail Attire.
      br
      | The ceremony will begin at 5:30pm followed by a cocktail hour, dinner, and dancing. Please keep in mind that our ceremony is currently scheduled to take place outside.

//- Where to Stay
//- ------------------------------------
mixin hotel-fact(label, value)
  dt.col-4= label
  dd.col-8= value

mixin where-to-stay()
  +section("Where to Stay")
      .hotel.mb-5
        h3 Royal Park Hotel
        hr
        .row
          .col-12.col-md-8
            dl.row.no-gutters
              +hotel-fact("Rate:", "$229/night")
              +hotel-fact("Distance:", "1.3 miles")
              +hotel-fact("Address:", "600 E University Dr, Rochester, MI 48307")
              dt.col-4 Phone:
              dd.col-8
                a(href="tel:1-248-652-2600") (248) 652-2600
            p Mention Kutcher/Zukowski wedding when booking.
          .d-none.d-md-flex.col-md-4
            +google-map("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.0515202499632!2d-83.13102468417357!3d42.68145097916654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824e9b6cae5167f%3A0xbeabaa9552529440!2sRoyal+Park+Hotel!5e0!3m2!1sen!2sus!4v1527301751286")
      .hotel
        h3.text-right Crowne Plaza Auburn Hills
        hr
        .row
          .d-none.d-md-flex.col-4
            +google-map("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.8758328027393!2d-83.24701818417401!3d42.66398657916769!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824c002175980b7%3A0x3b2af4a442f402c!2sCrowne+Plaza+Auburn+Hills!5e0!3m2!1sen!2sus!4v1527362662799")
          .col-12.col-md-8
            dl.row.no-gutters
              +hotel-fact("Rate:", "$119/night")
              +hotel-fact("Distance:", "6.2 miles")
              +hotel-fact("Address:", "1500 N Opdyke Rd, Auburn Hills, MI 48326")
              dt.col-4 Phone:
              dd.col-8
                a(href="tel:1-248-363-4550") (248) 363-4550
            p
              a(href="https://www.crowneplaza.com/redirect?path=hd&brandCode=CP&localeCode=en&regionCode=1&hotelCode=dttah&_PMID=99801505&GPC=KZW&viewfullsite=true" target="_blank" title="Book online" rel="noreferrer")
                | Click here to book online,
              |  or mention Kutcher/Zukowski wedding when calling.

//- Our Registry
//- ------------------------------------
mixin our-registry()
  +section("Our Registry")
    .body-copy.mb-5
      p Your presence is the only gift that we desire. If you do want to give a gift, please keep in mind that while the celebrations are in Michigan, we are relocating to Bellevue, WA, and would greatly appreciate it if gifts were shipped directly to the address provided in the registry. Thank you!
    .w-50.ml-auto.mr-auto
      a.d-block.mb-5(href="https://www.amazon.com/wedding/jackie-kutcher-david-zukowski-rochester-september-2018/registry/FG5W937W5X54" target="_blank" title="Amazon Registry Link" rel="noreferrer")
        img.img-fluid(src="https://upload.wikimedia.org/wikipedia/commons/7/70/Amazon_logo_plain.svg" alt="Amazon Registry Link" title="Amazon Registry Link")
      a.d-block(href="https://www.potterybarn.com/registry/6h6wtkjgv9/registry-list.html" target="_blank" title="Pottery Barn Registry Link" rel="noreferrer")
        include ../includes/pottery-barn-logo.pug

block header
  header
    nav.navbar.navbar-expand-sm.navbar-light
      .container
        a.navbar-brand(href="/") Jackie & David
        .collapse.navbar-collapse
          ul.navbar-nav.ml-md-auto
            +nav-item("Our Story", "/#our-story")
            +nav-item("Venue", "/#the-venue")
            +nav-item("Registry", "/#our-registry")
    .header
      .container.text-center
        h1.header__title Jackie Kutcher & David Zukowski
        .header__subtitle
          span.d-block.d-md-inline-block September 22, 2018
          span.d-none.d-md-inline-block.ml-3.mr-3 &mdash;
          span.d-block.d-md-inline-block Rochester, MI

block content
  +our-story()
  +photos()
  +the-venue()
  +wedding-party()
  +where-to-stay()
  +our-registry()

block footer
  footer.container.text-center
    .row.justify-content-center
      .col-10
        p We want to thank everyone for the love, support, and excitement that you have shared with us over the past four years; it is amazing to have such loving family and friends. We love you all and can’t wait to celebrate with you in Michigan.
